{% extends "master.html" %}

{% block title %}Venues | UEMS{% endblock %}

{% block content %}
<div class="uems-header">
    <div class="row">
        <div class="col-md-12">
            <section class="d-flex flex-row gap-2 align-items-center">
                <a class="btn btn-secondary d-flex flex-row align-items-center gap-1" href="/management/">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="bi bi-caret-left-fill" viewBox="0 0 16 16">
                        <path d="m3.86 8.753 5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z"/>
                    </svg>
                    Return
                </a>
            </section>
            <h1 class="fw-bolder">Venues Management</h1>
            <span>You may manage the venues as a whole from this screen.</span>
        </div>
    </div>
</div>
<div class="uems-body">
    <div class="row">
        <section class="d-flex flex-row align-items-center justify-content-between">
            <h1>Venues</h1>
            <a class="btn btn-success" href="create">+ New Venue</a>
        </section>
        <table class="table table-border table-hover table-striped" id="venues-table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Address</th>
                    <th>Capacity</th>
                    <th>Description</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% if venues %}
                    {% for venue in venues %}
                        <tr>
                            <td>{{ venue.id }}</td>
                            <td>{{ venue.name }}</td>
                            <td>{{ venue.address }}</td>
                            <td>{{ venue.capacity }}</td>
                            <td>{{ venue.description|truncatechars:20 }}</td>
                            <td class="d-flex flex-row align-items-center">
                                <section>
                                    <a class="btn btn-warning" href="edit/{{venue.id}}">Edit</a>
                                    <button class="btn btn-danger" onclick="
                                        Swal.fire({
                                            icon: 'warning',
                                            title: 'Delete',
                                            text: 'Are you sure you want to delete this item?',
                                            showConfirmButton: true,
                                            showCancelButton: true
                                        }).then((result) => {
                                            if(result.isConfirmed){
                                                window.location = 'delete/{{venue.id}}';
                                            }
                                        });
                                    ">
                                        Delete
                                    </a>
                                </section>
                            </td>
                        </tr>
                    {% endfor %}
                {% endif %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}

{% block script %}
<script>
    $(document).ready(function () {
        $("#venues-table").DataTable();
    });
</script>
{% endblock %}