{% extends "../master.html" %}
{% load crispy_forms_tags %}

{% block title %}Login | UEMS{% endblock %}

{% block content %}
<div class="container-fluid p-2 uems-bg vh-100 d-flex flex-column align-items-center justify-content-center">
    <div class="platform platform-light">
        <div class="row h-100">
            <div class="col-md-7">
                <div class="m-3" style="border-radius: 10px; background-color: gold;">
                    <section class="d-flex flex-row align-items-center">
                        <div class="p-4">
                            <h1 class="fw-bolder text-start">UEMS</h1>
                        </div>
                        <div class="bg-white m-3 p-4" style="border-radius: 10px;">
                            <h3 class="fw-bolder text-start">University Events Management System</h3>
                        </div>
                    </section>
                </div>

                <section class="position-sticky d-flex flex-column align-items-center justify-content-center" style="top: 55%;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="128" height="128" fill="currentColor" class="bi bi-calendar3" viewBox="0 0 16 16">
                        <path d="M14 0H2a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2M1 3.857C1 3.384 1.448 3 2 3h12c.552 0 1 .384 1 .857v10.286c0 .473-.448.857-1 .857H2c-.552 0-1-.384-1-.857z" />
                        <path d="M6.5 7a1 1 0 1 0 0-2 1 1 0 0 0 0 2m3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2m3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2m-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2m3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2m3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2m3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2m-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2m3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2m3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2" />
                    </svg>
                    <h4 class=" m-3">Welcome!</h4>
                </section>
            </div>
            <div class="col-md-5 d-flex flex-column align-items-center justify-content-center">
                <section class="d-flex flex-column m-3 align-items-center justify-content-center">
                    {% if messages %}
                    {% for message in messages %}
                    {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                    <script>
                        Swal.fire({
                            icon: "error",
                            title: "An error occurred",
                            text: "{{ message }}",
                            customClass: {
                                popup: 'blurBg'
                            },
                            showClass: {
                                popup: 'showPopup',
                            },
                            hideClass: {
                                popup: 'hidePopup'
                            }
                        });
                    </script>
                    {% else %}
                    <script>
                        Swal.fire({
                            icon: "info",
                            title: "Info",
                            text: "{{ message }}",
                            customClass: {
                                popup: 'blurBg'
                            },
                            showClass: {
                                popup: 'showPopup',
                            },
                            hideClass: {
                                popup: 'hidePopup'
                            }
                        });
                    </script>
                    {% endif %}
                    {% endfor %}
                    {% endif %}
                    <h1 class="fw-bolder">Login</h1>
                    <p class="text-center">Please enter the email and password you used to register an account.
                    </p>
                    <section class="w-75">
                        <form method="POST">
                            {% csrf_token %}
                            <section class="d-flex flex-column gap-2">
                                <label for="email">Email*</label>
                                <input type="email" class="form-control" name="email" id="username" autocomplete="username" maxlength="150" required>
                                <label for="password">Password*</label>
                                <input type="password" class="form-control" name="password" autocomplete="current-password" id="password" style="padding-right: 4em;" required>
                            </section>
                            <section class="d-flex flex-row justify-content-end align-items-center">
                                <div id="pwShow" style="display: block; transform: translateX(-5px) translateY(-35px);">
                                    <!-- if password is hidden -->
                                    <button type="button" style="border: none; border-radius: 5px; background: transparent; color: gray;">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
                                            <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8M1.173 8a13 13 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5s3.879 1.168 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5s-3.879-1.168-5.168-2.457A13 13 0 0 1 1.172 8z" stroke="#999999" stroke-width="0.75"/>
                                            <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5M4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0" stroke="#999999" stroke-width="0.75"/>
                                        </svg>
                                    </button>
                                </div>
                                <div id="pwHide" style="display: none; transform: translateX(-5px) translateY(-35px);">
                                    <!-- if password is shown -->
                                    <button type="button" style="border: none; border-radius: 5px; background: transparent; color: gray;">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-eye-slash" viewBox="0 0 16 16">
                                            <path d="M13.359 11.238C15.06 9.72 16 8 16 8s-3-5.5-8-5.5a7 7 0 0 0-2.79.588l.77.771A6 6 0 0 1 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755q-.247.248-.517.486z" stroke="#999999" stroke-width="0.75"/>
                                            <path d="M11.297 9.176a3.5 3.5 0 0 0-4.474-4.474l.823.823a2.5 2.5 0 0 1 2.829 2.829zm-2.943 1.299.822.822a3.5 3.5 0 0 1-4.474-4.474l.823.823a2.5 2.5 0 0 0 2.829 2.829" stroke="#999999" stroke-width="0.75"/>
                                            <path d="M3.35 5.47q-.27.24-.518.487A13 13 0 0 0 1.172 8l.195.288c.335.48.83 1.12 1.465 1.755C4.121 11.332 5.881 12.5 8 12.5c.716 0 1.39-.133 2.02-.36l.77.772A7 7 0 0 1 8 13.5C3 13.5 0 8 0 8s.939-1.721 2.641-3.238l.708.709zm10.296 8.884-12-12 .708-.708 12 12z" stroke="#999999" stroke-width="0.75"/>
                                        </svg>
                                    </button>
                                </div>
                            </section>

                            <section class="d-flex flex-row justify-content-between align-items-center mt-3">
                                <button class="btn btn-success" type="submit">Login</button>

                                <a class="text-secondary" href="#" hidden>Forgot Password?</a>
                            </section>
                        </form>
                    </section>

                    <span class="mt-5">Not yet registered? <a href="/register">Register Now</a></span>
                </section>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script>
    $(document).ready(function () {
        $("#pwShow").click(function(e){
            e.preventDefault();

            $("#password").attr("type") === "password" 
                ? $("#password").attr("type", "text")
                : $("#password").attr("type", "password");
            
            $("#pwShow").hide();
            $("#pwHide").show();
        });
        $("#pwHide").click(function(e){
            e.preventDefault();

            $("#password").attr("type") === "text" 
                ? $("#password").attr("type", "password")
                : $("#password").attr("type", "text");
            
            $("#pwHide").hide();
            $("#pwShow").show();
        });
    });
</script>
{% endblock %}