{% extends "../master.html" %}
{% load crispy_forms_tags %}

{% block title %}Register | UEMS{% endblock %}

{% block content %}
<div class="container-fluid p-2 uems-bg vh-100 d-flex flex-column align-items-center justify-content-center">
    <div class="platform platform-light">
        <div class="row h-100">
            <div class="col-md-7">
                <div class="m-3" style="border-radius: 10px; background-color: gold;">
                    <section class="d-flex flex-row align-items-center">
                        <div class="p-4">
                            <h1 class="fw-bolder text-start">UEMS</h1>
                        </div>
                        <div class="bg-white m-3 p-4" style="border-radius: 10px;">
                            <h3 class="fw-bolder text-start">University Events Management System</h3>
                        </div>
                    </section>
                </div>

                <section class="position-sticky d-flex flex-column align-items-center justify-content-center" style="top: 55%;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="128" height="128" fill="currentColor" class="bi bi-calendar3" viewBox="0 0 16 16">
                        <path d="M14 0H2a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2M1 3.857C1 3.384 1.448 3 2 3h12c.552 0 1 .384 1 .857v10.286c0 .473-.448.857-1 .857H2c-.552 0-1-.384-1-.857z" />
                        <path d="M6.5 7a1 1 0 1 0 0-2 1 1 0 0 0 0 2m3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2m3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2m-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2m3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2m3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2m3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2m-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2m3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2m3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2" />
                    </svg>
                    <h4 class=" m-3">Welcome!</h4>
                </section>
            </div>
            <div class="col-md-5 bg-white d-flex flex-column align-items-center justify-content-center">
                <div class="d-flex flex-column m-3 align-items-center justify-content-center">
                    {% if messages %}
                    {% for message in messages %}
                    {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                    <div class="alert alert-danger" role="alert">
                        <span>{{ message }}</span>
                    </div>
                    {% else %}
                    <div class="alert alert-dark" role="alert">
                        <span>{{ message }}</span>
                    </div>
                    {% endif %}
                    {% endfor %}
                    {% endif %}
                    <h1 class="fw-bolder">Register</h1>
                    <p class="text-center">Please fill out the form with the correct information. Fields marked with an
                        asterisk (*) are <b>required</b>.</p>
                    <section class="w-75">
                        <form method="POST">
                            {% csrf_token %}
                            {{form|crispy}}

                            <button class="btn btn-success" type="submit">Register</button>
                        </form>
                    </section>

                    <span class="mt-5">Already registered? <a href="/login">Login</a></span>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script>
    $(document).ready(function () {

    });
</script>
{% endblock %}