{% extends "master.html" %}

{% block title %}Management | UEMS{% endblock %}

{% block content %}
<div class="uems-header">
    <div class="row">
        <div class="col-md-12">
            <h1 class="fw-bolder">System Management</h1>
            <span>Listed are options for managing the system. Please choose the area you wish to manage.</span>
        </div>
    </div>
</div>
<div class="uems-body">
    <div class="row d-flex flex-row justify-content-center">
        {% if request.user.role == "admin" %}
        <div class="col-md-3 d-flex justify-content-center">
            <a class="card text-decoration-none w-100" href="users">
                <div class="card-body d-flex flex-column align-items-center justify-content-between gap-3 shadow">
                    <div class="rounded-circle rounded-3 p-3"
                        style="background: linear-gradient(135deg, #009639 0%, #00c851 100%);">
                        <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="white" class="bi bi-person" viewBox="0 0 16 16">
                            <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6m2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0m4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4m-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10s-3.516.68-4.168 1.332c-.678.678-.83 1.418-.832 1.664z"/>
                        </svg>
                    </div>
                    <h2 class="fw-bolder text-center">User Management</h2>
                    <p>Offers management of all users who are registered in the system.</p>
                </div>
            </a>
        </div>
        {% endif %}
        <div class="col-md-3 d-flex justify-content-center">
            <a class="card text-decoration-none w-100" href="organizers">
                <div class="card-body d-flex flex-column align-items-center justify-content-between gap-3 shadow">
                    <div class="rounded-circle rounded-3 p-3"
                        style="background: linear-gradient(135deg, #009639 0%, #00c851 100%);">
                        <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="white" class="bi bi-card-checklist" viewBox="0 0 16 16">
                            <path d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2z"/>
                            <path d="M7 5.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5m-1.496-.854a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 1 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0M7 9.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5m-1.496-.854a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 0 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0"/>
                        </svg>
                    </div>
                    <h2 class="fw-bolder text-center">Organizers Management</h2>
                    <p>Offers management of all organizers who are added to the system.</p>
                </div>
            </a>
        </div>
        <div class="col-md-3 d-flex justify-content-center">
            <a class="card text-decoration-none w-100" href="tickets">
                <div class="card-body d-flex flex-column align-items-center justify-content-between gap-3 shadow">
                    <div class="rounded-circle rounded-3 p-3"
                        style="background: linear-gradient(135deg, #009639 0%, #00c851 100%);">
                        <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="white" class="bi bi-ticket-detailed" viewBox="0 0 16 16">
                            <path d="M4 5.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5m0 5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5M5 7a1 1 0 0 0 0 2h6a1 1 0 1 0 0-2z"/>
                            <path d="M0 4.5A1.5 1.5 0 0 1 1.5 3h13A1.5 1.5 0 0 1 16 4.5V6a.5.5 0 0 1-.5.5 1.5 1.5 0 0 0 0 3 .5.5 0 0 1 .5.5v1.5a1.5 1.5 0 0 1-1.5 1.5h-13A1.5 1.5 0 0 1 0 11.5V10a.5.5 0 0 1 .5-.5 1.5 1.5 0 1 0 0-3A.5.5 0 0 1 0 6zM1.5 4a.5.5 0 0 0-.5.5v1.05a2.5 2.5 0 0 1 0 4.9v1.05a.5.5 0 0 0 .5.5h13a.5.5 0 0 0 .5-.5v-1.05a2.5 2.5 0 0 1 0-4.9V4.5a.5.5 0 0 0-.5-.5z"/>
                        </svg>
                    </div>
                    <h2 class="fw-bolder text-center">Tickets Management</h2>
                    <p>Offers management of all tickets who are linked to events and are added to the system.</p>
                </div>
            </a>
        </div>
        <div class="col-md-3 d-flex justify-content-center">
            <a class="card text-decoration-none w-100" href="venues">
                <div class="card-body d-flex flex-column align-items-center justify-content-between gap-3 shadow">
                    <div class="rounded-circle rounded-3 p-3"
                        style="background: linear-gradient(135deg, #009639 0%, #00c851 100%);">
                        <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="white" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
                            <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10m0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6"/>
                        </svg>
                    </div>
                    <h2 class="fw-bolder text-center">Venues Management</h2>
                    <p>Offers management of all venues who are added to the system.</p>
                </div>
            </a>
        </div>
    </div>
    <div class="d-flex flex-wrap justify-content-evenly gap-2">
        
    </div>
</div>
{% endblock %}

{% block script %}
<script>
    $(document).ready(function () {
        
    });
</script>
{% endblock %}