{% extends "master.html" %}

{% block title %}Dashboard | UEMS{% endblock %}

{% block content %}
<div class="uems-header">
    <div class="row">
        <div class="col-md-12">
            <h1 class="fw-bolder">System Management</h1>
            <span>You may manage the system as a whole from this screen.</span>
        </div>
    </div>
</div>
<div class="uems-body">
    <div class="row">
        <section class="d-flex flex-row align-items-center justify-content-between">
            <h1>Users</h1>
            <button class="btn btn-success" type="button">+ New User</button>
        </section>
        <span>Here is a list of users registered in the system.</span>
        <table class="table table-border table-hover table-striped" id="users-table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Username</th>
                    <th>Role</th>
                    <th>Joined on</th>
                    <th>Last Login</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% if users %}
                    {% for user in users %}
                        <tr>
                            <td>{{ user.id }}</td>
                            <td>{{ user.username }}</td>
                            <td>
                                {% if user.is_superuser or user.is_staff %}
                                    Admin
                                {% else %}
                                    User
                                {% endif %}
                            </td>
                            <td>{{ user.date_joined }}</td>
                            <td>{{ user.last_login }}</td>
                            <td>
                                None
                            </td>
                        </tr>
                    {% endfor %}
                {% endif %}
            </tbody>
        </table>
    </div>
    <div class="row">
        <section class="d-flex flex-row align-items-center justify-content-between">
            <h1>Events</h1>
            <button class="btn btn-success" type="button">+ New Event</button>
        </section>
        <table class="table table-border table-hover table-striped" id="events-table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Title</th>
                    <th>Description</th>
                    <th>From Date</th>
                    <th>To Date</th>
                    <th>Organizer</th>
                    <th>Venue</th>
                    <th>Max Attendees</th>
                    <th>Public</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% if events %}
                    {% for event in events %}
                        <tr>
                            <td>{{ event.id }}</td>
                            <td>{{ event.title }}</td>
                            <td>{{ event.description|truncatechars:10 }}</td>
                            <td>{{ event.from_date }}</td>
                            <td>{{ event.to_date }}</td>
                            <td>{{ event.organizer_id }}</td>
                            <td>{{ event.venue_id }}</td>
                            <td>{{ event.max_attendees }}</td>
                            <td>{{ event.is_public }}</td>
                            <td>
                                none
                            </td>
                        </tr>
                    {% endfor %}
                {% endif %}
            </tbody>
        </table>
    </div>
    <div class="row">
        <section class="d-flex flex-row align-items-center justify-content-between">
            <h1>Organizers</h1>
            <button class="btn btn-success" type="button">+ New Organizer</button>
        </section>
    </div>
    <div class="row">
        <section class="d-flex flex-row align-items-center justify-content-between">
            <h1>Tickets</h1>
            <button class="btn btn-success" type="button">+ New Ticket</button>
        </section>
    </div>
    <div class="row">
        <section class="d-flex flex-row align-items-center justify-content-between">
            <h1>Venues</h1>
            <button class="btn btn-success" type="button">+ New Venue</button>
        </section>
    </div>
</div>
{% endblock %}

{% block script %}
<script>
    $(document).ready(function () {
        $("#users-table").DataTable();
        $("#events-table").DataTable();
    });
</script>
{% endblock %}