{% extends "master.html" %}
{% load crispy_forms_tags %}

{% block title %}Dashboard | UEMS{% endblock %}

{% block content %}
<div class="uems-header">
    <div class="row">
        <div class="col-md-12">
            <h1 class="fw-bolder">Add New User</h1>
            <span>Please fill the form with accurate information regarding the user.</span>
        </div>
    </div>
</div>
<div class="uems-body">
    <div class="row">
        <div class="col-md-12">
            <form method="POST">
                {% csrf_token %}
                {{form|crispy}}

                <p><i>Please inform the user who this account will belong to of the default password: <b>Userpw@123</b></i></p>
                <button class="btn btn-success" type="submit">Add New User</button>
                <a class="btn btn-secondary" href="/management/users/">Cancel</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script>
    $(document).ready(function () {
        $("#venues-table").DataTable();
    });
</script>
{% endblock %}