{% extends "../master.html" %}
{% load crispy_forms_tags %}

{% block title %}
{% if request.user.is_superuser or request.user.is_staff %}
Profiles | UEMS
{% else %}
Profile | UEMS
{% endif %}
{% endblock %}

{% block content %}
<div class="uems-header">
    <div class="row">
        <div class="col-md-12">
            <h1 class="fw-bolder">
                {% if request.user.is_superuser or request.user.is_staff %}
                Profiles
                {% else %}
                Profile
                {% endif %}
            </h1>
            <span>
                {% if request.user.is_superuser or request.user.is_staff %}
                You can change profile information from this page and manage other users.
                {% else %}
                You can view your profile information from this page.
                {% endif %}
            </span>
        </div>
    </div>
</div>
<div class="uems-body">
    <div class="row">
        <div class="col-md-4">
            <h1>Profile Details</h1>
            <div class="card d-flex flex-column align-items-center justify-content-center shadow m-2 p-2">
                <svg xmlns="http://www.w3.org/2000/svg" width="142" height="142" fill="currentColor"
                    class="bi bi-person-circle" viewBox="0 0 16 16">
                    <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0" />
                    <path fill-rule="evenodd"
                        d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1" />
                </svg>
                {% if request.user.first_name %}
                <h2>
                    {{ request.user.first_name }}
                    {% if request.user.last_name %}
                    {{ request.user.last_name }}
                    {% endif %}
                </h2>
                {% endif %}
                <h4>
                    <b>Username: </b>
                    {{ request.user.username }}
                </h4>
                <h5>
                    <b>Email: </b>
                    {{ request.user.email }}
                </h5>
                <h5>
                    <b>Role: </b>
                    {% if request.user.is_superuser or request.user.is_staff %}
                    Admin
                    {% else %}
                    User
                    {% endif %}
                </h5>
                <button class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#editProfile"
                    id="manageProfileBtn" type="button">Manage Profile</button>
            </div>
        </div>
        <div class="col-md-8">
            {% if messages %}
            {% for message in messages %}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
            <div class="alert alert-danger" role="alert">
                <span>{{ message }}</span>
            </div>
            {% else %}
            <div class="alert alert-dark" role="alert">
                <span>{{ message }}</span>
            </div>
            {% endif %}
            {% endfor %}
            {% endif %}
            <h1>Your Registered Events</h1>
            <span>Here is the list of the events you have registered in.</span>
        </div>
    </div>
    {% if request.user.is_superuser or request.user.is_staff %}
    <div class="row">
        <div class="col-md-12">
            <h1>Advanced Management</h1>
            <h3 class="fw-bolder">Users</h3>
            <span>You may manage currently registered users in this table.</span>
            <table class="table table-bordered table-striped table-hover" id="users-table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Username</th>
                        <th>Registered on</th>
                        <th>Last Login</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% if users %}
                    {% for user in users %}
                    <tr>
                        <td>{{ user.id }}</td>
                        <td>{{ user.username }}</td>
                        <td>{{ user.date_joined }}</td>
                        <td>{{ user.last_login }}</td>
                        <td>
                            <p>test</p>
                        </td>
                    </tr>
                    {% endfor %}
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
    {% endif %}
</div>

<div class="modal fade" id="editProfile" tabindex="-1" aria-labelledby="editProfileModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content glass">
            <div class="modal-header">
                <nav class="navbar">
                    <ul class="nav nav-tabs card-header-tabs d-flex flex-row justify-content-evenly">
                        <li class="nav-item">
                            <button class="nav-link active" id="basicTab">Basic</button>
                        </li>
                        <li class="nav-item">
                            <button class="nav-link" id="emailTab">Email</button>
                        </li>
                        <li class="nav-item">
                            <button class="nav-link" id="passwordTab">Password</button>
                        </li>
                    </ul>
                </nav>
                <button class="btn-close" data-bs-dismiss="modal" aria-label="Close" type="button"></button>
            </div>
            <div class="modal-body">
                <section id="basic-modify" style="display: none;">
                    <h3 class="fw-bolder">Basic Information</h3>
                    <span>You may edit basic information about your account in this tab.</span>
                    <form id="basicInfo" method="POST" aria-disabled="true">
                        <input type="hidden" name="type" value="basic_change">
                        {% csrf_token %}
                        <label for="first_name">First Name*</label>
                        <input class="form-control" type="text" name="first_name" id="first_name"
                            value="{{ request.user.first_name }}" required>
                        <label for="last_name">Last Name</label>
                        <input class="form-control" type="text" name="last_name" id="last_name"
                            value="{{ request.user.last_name }}">
                        <label for="username">Username</label>
                        <input class="form-control" type="text" name="username" id="username"
                            value="{{ request.user.username }}" required>

                        <button class="btn btn-success mt-3" type="submit">Save Changes</button>
                    </form>
                </section>
                <section id="email-modify" style="display: none;">
                    <h3 class="fw-bolder">Email</h3>
                    <span>Please fill the form below to change your email address accordingly.</span>
                    <form id="emailInfo" method="post" aria-disabled="true">
                        <input type="hidden" name="type" value="email_change">
                        {% csrf_token %}
                        <label for="old_email">Current Email</label>
                        <input class="form-control" type="email" name="old_email" id="old_email"
                            value="{{ request.user.email }}" readonly required>
                        <label for="new_email">New Email*</label>
                        <input class="form-control" type="email" name="new_email" id="new_email" required>

                        <button class="btn btn-success mt-2" type="submit">Save New Email</button>
                    </form>
                </section>
                <section id="password-modify" style="display: none;">
                    <h3 class="fw-bolder">Credentials</h3>
                    <span>Please fill the form below to change your password accordingly. For security purposes, your
                        old password needs to be confirmed.</span>
                    <form id="pwInfo" method="POST" aria-disabled="true">
                        <input type="hidden" name="type" value="password_change">
                        {% csrf_token %}
                        {{ password_form|crispy }}
                        <button class="btn btn-success" type="submit">Save New Password</button>
                    </form>
                </section>
            </div>
        </div>
    </div>
</div>
{% endblock %}


{% block script %}
<script>
    $(document).ready(function () {

        $("#users-table").DataTable();
        $("#manageProfileBtn").click(function () {
            $("#basic-modify").show();
            $("#email-modify").hide();
            $("#password-modify").hide();

            $("#basicInfo").prop("aria-disabled", "false");
            $("#pwInfo").add("aria-disabled", "true");
            $("#basicInfo").add("aria-disabled", "true");
        });
        $("#basicTab").click(function () {
            $("#passwordTab").removeClass("active");
            $("#emailTab").removeClass("active");
            $("#basicTab").addClass("active");
            $("#basicInfo").prop("aria-disabled", "false");
            $("#pwInfo").add("aria-disabled", "true");
            $("#basicInfo").add("aria-disabled", "true");

            $("#basic-modify").show();
            $("#email-modify").hide();
            $("#password-modify").hide();
        });
        $("#emailTab").click(function () {
            $("#basicTab").removeClass("active");
            $("#passwordTab").removeClass("active");
            $("#emailTab").addClass("active");
            $("#emailInfo").prop("aria-disabled", "false");
            $("#pwInfo").prop("aria-disabled", "true");
            $("#basicInfo").prop("aria-disabled", "true");

            $("#basic-modify").hide();
            $("#email-modify").show();
            $("#password-modify").hide();
        });
        $("#passwordTab").click(function () {
            $("#passwordTab").addClass("active");
            $("#emailTab").removeClass("active");
            $("#basicTab").removeClass("active");
            $("#emailInfo").prop("aria-disabled", "true");
            $("#pwInfo").prop("aria-disabled", "false");
            $("#basicInfo").prop("aria-disabled", "true");

            $("#basic-modify").hide();
            $("#email-modify").hide();
            $("#password-modify").show();
        });
    });
</script>
{% endblock %}